<div id = "shell">
    <div id = "topNav" >
        <div id = "corner">
            <a (click) = "showDisplay('logo')" class = "icon" href="/">
                <i class="fab fa fa-home"></i>
            </a>
        </div>
    </div>
    <div id = "main">
        <div *ngIf = "display == 'logo'" id = "logo">
            Randomizer
        </div>
        <div *ngIf = "display == 'question'" class = "blockInfo">
            Click on the arrow to begin. Next, select the place type and desired distance you wish you travel. The randomizer will then return a random place to you using your desired inputs.
        </div> 
        <div *ngIf = "display == 'about'" class = "blockInfo">
            The randomizer is a free online tool that uses your current location and specified inputs to return a random place in your area. Choose from restaurants, bars, clubs and more, get directions, read reviews from other randomized locations in your area and leave your own review. Last updated Jan 18, 2019. 
        </div>
        <div *ngIf = "display == 'faqs'" class = "faqs">
            <h1>FAQs</h1>
            <div class = "inputs">
                <div class = "label">
                    Question: 
                </div>
                <div class = "input">
                    <input type = "text" name = "question.question" [(ngModel)]="question.question" >
                </div><br>
                <div class = "label">
                    Email: 
                </div>
                <div class = "input">
                    <input type = "text" name = "question.user" [(ngModel)]="question.user"  >
                </div><br>
                <button (click) = "submitQuestion()">submit</button>
            </div>
        </div> 
        <div *ngIf = "display == 'privacy'" class = "blockInfo">
            This site collects encrypted information about your location, purely for the site's functionality. Your location, nor any other personal information, is kept after you leave the website. We do not use cookies.
        </div>      
        <div *ngIf = "display == 'contact'" class = "blockInfo">
            Courtney King<br>
            courtneyshmourtney@gmail.com<br>
            Las Vegas, NV<br>
        </div> 
    </div>
    <div id = "Icons">
        <div class="social-icons middle">
            <a (click) = "showDisplay('question')" class = "icon">
                <i class="fab fa fa-question"></i>
            </a>
            <a (click) = "giveLocation(location)" class = "icon" >
                <i class="fab fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
    <div id = "bottomNav" >
        <div (click) = "showDisplay('about')" class = "blocks">About</div>
        <div (click) = "showDisplay('faqs')" class = "blocks">FAQs</div>
        <div (click) = "showDisplay('privacy')" class = "blocks">Privacy Policy</div>
        <div (click) = "showDisplay('contact')" class = "blocks">Contact</div>
    </div> 
</div>
  

