* {
    font-size: 10px;
}
.social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    margin-top: 5vh;
}
.social-icons a:last-child {
    margin-right: 0;
  }
.social-icons a:hover {
    background-color:white;
}  
.dev-icons {
    font-size: 3rem;
}
.dev-icons .list-inline-item i:hover {
    color: white;
}
#top_bar{
    height: 8vh;
    width: 100%;
    text-align: center;
}
#top_bar button {
    padding: 3vh;
}
img {
    height: 15px;
    width: 15px;
}
#shell{
    height: 100vh;
    width: 100vw;
}
#main{
    height: 87vh;
    width: 100vw;
    padding: 25vh 20vw 0 20vw;
    font-size: 15px;
    text-align: center;
}
#logo{
    height: 6vh;
    text-align: center;
    font-size: 5vh;
}
.blockInfo{
    height: 6vh;
    font-size: 15px;
}
#contact{
    margin: 0 0 15vh 0;
    /* font-size: 15px; */
}
#questions{
    margin: 0 0 5vh 0;
    /* font-size: 15px; */
}
#bottom_bar{
    height: 4vh;
    width: 100%; 
}
#bottom_bar .blocks {
    display: inline-block;
    height: auto;
    width: 25%;
    text-align: center;
}
button{
    border: none;
    background-color: transparent;
}

@media only screen and (max-width: 480px){
    #main{
        font-size: 15px;
    }
    #logo{
        font-size: 30px;
        height: 10vh;
    }
}
@media only screen and (min-width: 481px) and (max-width: 1023px){
    #main{
        font-size: 20px;
    }
    #logo{
        font-size: 40px;
        height: 10vh;
    }
}
@media only screen and (min-width: 1024px){
    #main{
        font-size: 25px;
    }
    #logo{
        font-size: 40px;
        max-height: 10vh;
    }
}
button:focus{
    outline:none !important;
}


/* .swing-in-left-bck {
	-webkit-animation: swing-in-left-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-left-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    }
  @-webkit-keyframes swing-in-left-bck {
    0% {
      -webkit-transform: rotateY(-70deg);
              transform: rotateY(-70deg);
      -webkit-transform-origin: left;
              transform-origin: left;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      -webkit-transform-origin: left;
              transform-origin: left;
      opacity: 1;
    }
  }
  @keyframes swing-in-left-bck {
    0% {
      -webkit-transform: rotateY(-70deg);
              transform: rotateY(-70deg);
      -webkit-transform-origin: left;
              transform-origin: left;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      -webkit-transform-origin: left;
              transform-origin: left;
      opacity: 1;
    }
  }
  .swing-in-right-bck {
	-webkit-animation: swing-in-right-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-right-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    }

  @-webkit-keyframes swing-in-right-bck {
    0% {
      -webkit-transform: rotateY(70deg);
              transform: rotateY(70deg);
      -webkit-transform-origin: right;
              transform-origin: right;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      -webkit-transform-origin: right;
              transform-origin: right;
      opacity: 1;
    }
  }
  @keyframes swing-in-right-bck {
    0% {
      -webkit-transform: rotateY(70deg);
              transform: rotateY(70deg);
      -webkit-transform-origin: right;
              transform-origin: right;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      -webkit-transform-origin: right;
              transform-origin: right;
      opacity: 1;
    }
  } */







