<body>
    <div id = "shell">
        <div id = "topNav">
            <h1>The Randomizer</h1>
            <div id = "corner">
                <a class = "icon" href="/">
                    <i class="home fa fa-home"></i>
                </a>
                <a class = "popup icon">
                    <i (click) = "bigQuestionPopup()" class="big fa fa-question">
                        <span class="popuptext" id="bigQuestionPopup">
                            <div>
                                <i class="fab fa fa-home"></i>
                                <p>Site home</p>
                            </div>
                            <div>
                                <img src = "assets/images/questionMark.png"> 
                                <p>Toggle info box</p>
                            </div>
                            <div>
                                <img src = "assets/images/refresh.png"> 
                                <p>Refresh map/reset parameters</p>
                            </div>
                            <div>
                                <i class="fab fa fa-star"></i>
                                <p>Reviews of randomized places in your city</p>
                            </div>
                            <div>
                                <img src = "assets/images/review.png"> 
                                <p>Write about your experience</p>
                            </div>
                            <div>
                                <img src = "assets/images/googleMaps.png">
                                <p>Open location in Google Maps</p>
                            </div>
                        </span>
                    </i>
                </a>
                <a (click) = "tryAgain()" class = "icon popup">
                    <i class="big fa fa-undo"></i>
                </a>
                <a (click) = "showReviewWindow()" class = "icon popup">
                    <i class="big fab fa fa-star"></i>
                </a>
            </div>
        </div>
        <div id = "showInputs">
            <div id = "popupBottom"></div>
            <div id = "popupTop">
                <div id = "inputs">
                    <div class="form-group">
                        <div id =  "type" class = "row">
                            <div class = "col">
                                Place type: 
                            </div>
                            <div class = "col-8">
                                <select [(ngModel)]="input.type" name = "input.type" (change) = "getRandomDesign()">
                                    <option value="" disabled selected>select</option>
                                    <option value = "bar">Bar</option>
                                    <option value = "restaurant">Restaurant</option>
                                    <option value = "museum">Museum</option>
                                    <option value = "park">Park</option>
                                    <option value = "night_club">Club </option>
                                    <option value = "bakery">Bakery</option>
                                    <option value = "cafe">Cafe</option>
                                    <option value = "clothing_store">Clothing Store</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <div  id = "radius" class = "row">
                                <div class = "col">
                                    Distance: 
                                </div>
                                <div class = "col-8">
                                    <input type = "number" min = "100" max = "5000" step = "100" [(ngModel)]="input.radius" name = "input.radius" (change) = "getRandomDesign()" placeholder = {{input.radius}}>
                                    <span style = "font-style: oblique">meters</span>
                                </div>
                            </div>
                        </div>
                        <div class = "inline">
                            <button class = "popup blackButton" (click) = "getPlaces()">
                                Randomize
                            </button> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id = "main">  
            <div id = "showPlace">
                    <div id = "popupBottom"></div>
                    <div id = "popupTop">
                    <div *ngIf = "showReviews == false" class="media">
                        <div class="media-left">  
                            <img class="media-object" src= {{place.icon}} alt="nearby_{{input.type}}">
                        </div>
                        <div class="media-body">
                            <div id="placeName">
                                {{place.name}}
                            </div>
                            <div *ngIf = "place.went == false" id="placeInfo">
                                {{place.vicinity}}<br>
                                <div class="social-icons">
                                    <a (click) = "getDirection()" class = "icon">
                                        <i class="fab fa fa-car"></i>
                                    </a>
                                    <a (click) = "tryAgain()" class = "icon">
                                        <i class="fab fa fa-undo"></i>
                                    </a>
                                </div>
                            </div>
                            <div *ngIf = "place.went == true && reviewForm == false" id="placeInfo">
                                {{place.vicinity}}<br>
                                <div class="social-icons">
                                    <a (click) = "addReview()" class = "icon">
                                        <i><img src = "assets/images/reviewIcon.png"></i>
                                    </a>
                                    <a (click) = "getDirections()" class = "icon">
                                        <i><img src = "assets/images/googleMaps.png"></i>
                                    </a>
                                    <a (click) = "tryAgain()" class = "icon">
                                        <i class="fab fa fa-undo"></i>
                                    </a>
                                </div>
                            </div>
                            <div *ngIf = "reviewForm == true" id = "reviewForm">
                                <form (submit) = "newReview()">
                                    <div><p>How was it?</p><textarea name = "review.text" [(ngModel)]="review.text" ></textarea></div>
                                    <div><p>By: </p><input type = "text" name = "review.user" [(ngModel)]="review.user" ></div>
                                    <input type = "hidden" name = "review.city" [(ngModel)]="review.city">
                                    <input type = "hidden" name = "review.place" [(ngModel)]="review.place">
                                    <input type = "hidden" name = "review.lat" [(ngModel)]="review.lat">
                                    <input type = "hidden" name = "review.lng" [(ngModel)]="review.lng">
                                    <input type = "hidden" name = "review.icon" [(ngModel)]="review.icon" >
                                    <input type = "hidden" name = "review.vicinity" [(ngModel)]="review.vicinity" >
                                    <div><button type = "submit">submit</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div *ngIf = "showReviews == true" id = "reviewWindow">
                        <h2>Randomized Reviews<br>{{location.city}}</h2>
                        <div *ngFor = "let r of reviews">
                            <div class = "reviews">
                                <img src = "{{r.icon}}">
                                <div class = "text">
                                    <b style = "font-variant: small-caps;">{{r.place}}</b><br>
                                    <i>"{{r.text}}"</i><br>
                                    by: {{r.user}}<br>
                                </div>
                                <button (click) = "getReviewPlace(r)">Go</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id = "map">
                <agm-map [latitude]= "map.lat" [longitude]= "map.lng" [zoom] = "map.zoom">
                    <agm-marker 
                        [latitude]= "locationMarker.lat" 
                        [longitude]= "locationMarker.lng" 
                        [iconUrl]= "locationMarker.iconUrl">
                    </agm-marker>
                   
                    <div *ngIf= "place.received == true">
                        <agm-marker
                            [latitude]= "place.lat" 
                            [longitude]= "place.lng">
                        </agm-marker>
                        <agm-direction [origin]="dir.origin" [destination]="dir.destination" [visible]="dir.visible"></agm-direction>
                    </div>
                </agm-map>
            </div>
            <div class = "social-icons" id = "small" >
                <a class = "icon popup">
                    <i (click) = "smallquestionPopup()" class="fab fa fa-question">
                        <span class="popuptext" id="smallquestionPopup">
                            <div>
                                <i class="fab fa fa-home"></i>
                                <p>Site home</p>
                            </div>
                            <div>
                                <img src = "assets/images/questionMark.png"> 
                                <p>Toggle info box</p>
                            </div>
                            <div>
                                <img src = "assets/images/refresh.png"> 
                                <p>Refresh map/reset parameters</p>
                            </div>
                            <div>
                                <i class="fab fa fa-star"></i>
                                <p>Reviews of randomized places in your city</p>
                            </div>
                            <div>
                                <img src = "assets/images/review.png"> 
                                <p>Write about your experience</p>
                            </div>
                            <div>
                                <img src = "assets/images/googleMaps.png">
                                <p>Open location in Google Maps</p>
                            </div>
                        </span>
                    </i>
                </a>
                <a (click) = "tryAgain()" class = "icon popup">
                    <i class="fab fa fa-undo"></i>
                </a>
                <a (click) = "showReviewWindow()" class = "icon popup">
                    <i class="fab fa fa-star"></i>
                </a>
            </div>
        </div>
    </div>
    <div id = "adjustRadius" class = "modal">
        <button (click) = "modalHide()" >x</button> 
        <p >Please adjust your distance and try again</p>  
    </div>
    <div id = "loading" class = "modal">
        <button (click) = "modalHide()" >x</button>
        <p>Loading...</p>
        <a (click) = "tryAgain()" >
            <i class="fa fa-undo"></i>
        </a>
    </div>
</body>
    


    



