@media only screen and (max-width: 480px){
    #main{
        font-size: 15px;
    }
    #inputs {
        padding: 10px;
        height: 18vh;
    }
    #randomize_button{
        background-color: black;
        color: white;
    }
    #logo{
        font-size: 30px;
        height: 10vh;
    }
    #place {
        padding: 10px;
        height: 18vh;
    }
    #place_name{
        font-size: 20px;
    }
    #place_info{
        font-size: 10px;
    }
}
@media only screen and (min-width: 481px) and (max-width: 1023px){
    #main{
        font-size: 20px;
    }
    #inputs {
        padding: 10px;
        height: 18vh;
    }
    #randomize_button{
        background-color: black;
        color: white;
    }
    #logo{
        font-size: 40px;
        height: 10vh;
    }
    #place {
        padding: 10px;
        height: 18vh;
    }
    #place_name{
        font-size: 25px;
    }
    #place_info{
        font-size: 20px;
    }
    img {
        height: 100px !important;
        width: 100px !important;
        margin-right: 15px !important;
    }
}
@media only screen and (min-width: 1024px){
    #main{
        font-size: 25px;
    }
    #inputs {
        padding: 10px;
        min-height: 18vh;
    }
    #randomize_button{
        background-color: black;
        color: white;
    }
    #logo{
        font-size: 40px;
        max-height: 10vh;
    }
    #place {
        padding: 10px;
        min-height: 18vh;
    }
    #place_name{
        font-size: 27px;
    }
    #place_info{
        font-size: 22px;
    }
    img {
        height: 125px !important;
        width: 125px !important;
        margin-right: 15px !important;
    }
}
#main{
    width: 100%;
}
#shell{
    height: 100vh;
    width: 100vw;
}
#loading {
    font-size: 30px;
    padding: 10px;
}
/* #error {
    height: 10vh;
    width: 10vw;
    position: fixed;
    top: 5vh;
    left: 5vw;
    color: red;
    background-color: white;
    border: 1px solid black;
} */
#map {
    margin-left: 1vw;
}
agm-map {
    height: 70vh;
    width: 96vw;
}
#logo{
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1vh;
}
button{
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}
input{
    border-radius: 5px;
    border: none;
    margin-top: 5px;
}
select{
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}
#go_button {
    background-color: green;
    color: white;
}
#try_again_button {
    margin-left: 5%;
    background-color: yellow;
    color: white;
}

select:focus{
    outline:none !important;
}
input:focus{
    outline:none !important;
}
button:focus{
    outline:none !important;
}


.swing-in-left-bck {
	-webkit-animation: swing-in-left-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-left-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    }
  @-webkit-keyframes swing-in-left-bck {
    0% {
      -webkit-transform: rotateY(-70deg);
              transform: rotateY(-70deg);
      -webkit-transform-origin: left;
              transform-origin: left;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      -webkit-transform-origin: left;
              transform-origin: left;
      opacity: 1;
    }
  }
  @keyframes swing-in-left-bck {
    0% {
      -webkit-transform: rotateY(-70deg);
              transform: rotateY(-70deg);
      -webkit-transform-origin: left;
              transform-origin: left;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      -webkit-transform-origin: left;
              transform-origin: left;
      opacity: 1;
    }
  }
  .swing-in-right-bck {
	-webkit-animation: swing-in-right-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-right-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    }

  @-webkit-keyframes swing-in-right-bck {
    0% {
      -webkit-transform: rotateY(70deg);
              transform: rotateY(70deg);
      -webkit-transform-origin: right;
              transform-origin: right;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      -webkit-transform-origin: right;
              transform-origin: right;
      opacity: 1;
    }
  }
  @keyframes swing-in-right-bck {
    0% {
      -webkit-transform: rotateY(70deg);
              transform: rotateY(70deg);
      -webkit-transform-origin: right;
              transform-origin: right;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      -webkit-transform-origin: right;
              transform-origin: right;
      opacity: 1;
    }
  }







